.itemList{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    padding-top: 20px;
}
.itemList_Img{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #282c34;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.content{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}
.itemFinder{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.itemFinder h1{
    width: 100%;
    font-size: 20px;
    margin-left: 10px;
}
.categoriesBox{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.titleBox{
    width: 83%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}
.itemListContent{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.Link{
    text-decoration: none;
    color: black
}
.orderFor{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: left;
    align-items: center;
    background-color: white;
}
.orderSelector{
    width: 200px;
    height: 30px;
    border-bottom: 1px solid grey;
    margin-left: 20px;
    padding-bottom: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.orderFor h2{
    font-size: 20px;
    margin-left: 10px;
}
.categoryBoxBorder{
    width: 80%;
    border-top: 1px solid #ccc;
}
.categoryBox{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 14px;
    background-color: white;
}
.categoryBox p{
    margin-left: 10px;
}

.categoryBox:hover{
    background-color: #e8e8e8;
}
.categoriesContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 30px;
}
.categoriesList{
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 7px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: white;
}
.categoriesList p{
    margin-right: 10px;
}
.cross{
    cursor: pointer;
}
.advertisingBox{
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.advertisingContent{
    width: 83%;
}
.advertisingContent img{
    width: 100%;
}