.cart-products-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;
}

.cart-products{
    width: 50%;
    display: flex;
    flex-direction: column;
   align-items: center;
   padding: 20px;
   border:  1px solid #ccc;
   border-radius: 10px;
}

.details{
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}
.details button {
  width: 150px;
  height: 40px;
  background-color: #2278c8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-right: 20px;
}
.details button:hover {
  background-color: #005cb2;

}
.products{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 7px 4px 5px 5px rgba(230,230,230,0.61);
}
.products p{
    margin-right: 10px;
}
.products button{
    background-color: transparent;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    margin-left: 50px;
}
.productsTitle h1{
    font-size: 22px;
    color: #282c34;
}
.productsImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.productsImg img{
    width: 80px;
    height: 80px;
}
.productsDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productNames{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.productPrice{
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.detailsTitle{
    width: 100%;
    display: flex;
    justify-content: center;
}
.detailsTitle h1{
    font-size: 22px;
    color: #282c34;
}
.detailsContent{
    width: 100%;
    margin-top: 10px;
}
.detailsButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.noProductsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Link_products{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.Link_products:hover{
    color: #7d7d7d;
}
.orderForm{
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.orderForm form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.orderForm input{
    padding: 10px;
    margin-top: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc;   
}
.orderUplaod{
    width: 90%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orderUplaod img{
    height: 200px;
    width: 200px;
}



/*  LOADER   */

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    color: #03a9ac;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #030303;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
